.banner{
    background-image: url("../images/about/banner.jpg");
}

.team .row{
    /*margin-top: 0.3rem;*/
    overflow: hidden;
}
.team .colItem{
     margin-bottom: 0.8rem;
     cursor: pointer;
}
.team .colItem:hover img{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}

.team .thumbPanel img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    width: 100%;
}


.team .colItem .userName{
    margin-top: 0.2rem;
    font-size: 0.4rem;
}
.team .colItem .line{
    margin-top: 0.2rem;
    background-color: #b49a72;
    width: 0.8rem;
    height: 0.04rem;
}
.team .colItem .job{
    margin-top: 0.2rem;
}
.team .colItem .intro{
    display: none;
}
.team .colItem .imageUrl{
    display: none;
}
@media (min-width: 768px){
    .team .row{
        margin-top: 60px;
    }
    .team .colItem{
        margin-bottom: 80px;
    }
    .team .colItem .userName{
        margin-top: 20px;
        font-size: 24px;
    }
    .team .colItem .line{
        margin-top: 20px;
        width: 40px;
        height: 4px;
    }
    .team .colItem .job{
        margin-top: 20px;
    }
}

.teamDetailContainer{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    overflow: scroll;
}

.teamDetail{
    position: relative;
    /*height: 10rem;*/

}
.teamDetail .icon-close{
    position: absolute;
    cursor: pointer;
    top: 0.35rem;
    right: 0.35rem;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    overflow: hidden;
    z-index: 2;
    color: #ffffff;
}
.teamDetail .icon-close:hover{
    color: #b49a72;
}


.teamDetail .row{
    overflow: hidden;
}
.teamDetail .leftPanel{
    background-color: #ffffff;
    padding: 0.6rem;
    min-height: 7rem;
}
.teamDetail .title{
    font-size: 0.4rem;
}
.teamDetail .line{
    margin-top: 0.3rem;
    width: 1rem;
    height: 2px;
    background-color: #b49a72;
}
.teamDetail .job{
    margin-top: 0.2rem;
    font-size: 0.3rem;
}
.teamDetail .intro{
    margin-top: 0.6rem;
    color: #a7a7a7;
}
.teamDetail .rightPanel{
    padding: 0;
    height: 7rem;
}
.teamDetail .detailImg{
    width: 100%;
}

.teamDetail .otherSlide{
    height: 0;
}

@media (min-width: 768px){
    .teamDetail{

    }
    .teamDetail .icon-close{
        top: 0;
        right: 35px;
        float: right;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 35px;
    }
    .teamDetail .row{
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 970px;
        height: 700px;
    }
    .teamDetail .leftPanel{
        right: 570px;
        width: 400px;
        height: 100%;
        padding: 65px;

    }
    .teamDetail .title{
        font-size: 24px;
    }
    .teamDetail .line{
        margin-top: 25px;
        width: 40px;
        height: 4px;
    }
    .teamDetail .job{
        margin-top: 20px;
        font-size: 14px;
    }
    .teamDetail .intro{
        margin-top: 60px;
        color: #a7a7a7;
        font-size: 12px;
    }
    .teamDetail .rightPanel{
        left: 400px;
        width: 570px;
        background-color: #ffffff;
    }
}