/*---------------------------------------公共部分---------------------------------------------*/

.debug{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}
.debug .inner{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 100%;
    border: solid 1px #FF0000;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Microsoft yahei', 微软雅黑,'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', Tahoma, Verdana, Arial, sans-serif;
    /*font-size: 62.5%;*/
}
a{
    color: #000000;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.myContainer {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .myContainer {
        width: 1170px;
    }
}
/*@media (min-width: 992px) {
    .myContainer {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .myContainer {
        width: 1170px;
    }
}*/


/*正文*/
.theText{
    font-size: 0.3rem;
    line-height: 0.5rem;
}
@media (min-width: 768px){
    .theText{
        font-size: 14px;
        line-height: 25px;
    }
}

.btnBase{
    display: block;
    overflow: hidden;
    border: 2px solid #c3c3c3;
    width: 2rem;
    height: 0.6rem;
    line-height: 0.56rem;
    font-size: 0.3rem;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius:0.5rem;
}
@media (min-width: 768px){
    .btnBase{
        display: block;
        width: 100px;
        height: 30px;
        line-height: 26px;
        font-size: 14px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius:15px;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        transition: 0.5s ease;
    }
    .btnBase:hover{
        color: #ffffff;
        background-color: #000000;
        border-color:#000;
    }
}

/**/
.iconBtnBse{
    display: inline-block;
    overflow: hidden;
    background-color: #d9dada;
    text-align: center;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.6rem;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}
.iconBtnBse:hover{
    color: #ffffff;
    background-color: #b49a72;
}

@media (min-width: 768px){
    .iconBtnBse{
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-size: 40px;
        width: 70px;
        height: 70px;
        line-height: 70px;
        overflow: hidden;
    }
}

/**/
.part_enTitle{
    font-family: 'MyriadPro-BoldCond';
    margin-top: 0.8rem;
    text-align: center;
    font-size: 0.48rem;
}

.part_cnTitle{
    text-align: center;
    font-size: 0.36rem;
}

.titleLine{
    margin-top: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #b49a72;
    width: 1.2rem;
    height: 0.04rem;
}

@media (min-width: 768px){
    .part_enTitle{
        text-align: center;
        font-size: 48px;
    }

    .part_cnTitle{
        text-align: center;
        font-size: 16px;
    }

    .titleLine{
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        background-color: #b49a72;
        width: 70px;
        height: 4px;
    }
}

.subEnTitle{
    font-family: 'MyriadPro-BoldCond';
    margin-top: 0.8rem;
    text-align: center;
    font-size: 0.6rem;
}

.subCnTitle{
    text-align: center;
    font-size: 0.36rem;
}

.subTitleLine{
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #b49a72;
    width: 1.2rem;
    height: 0.04rem;
}

@media (min-width: 768px){
    .subEnTitle{
        text-align: center;
        font-size: 36px;
        line-height: 30px;
    }

    .subCnTitle{
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
    }

    .subTitleLine{
        margin-top: 50px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        background-color: #b49a72;
        width: 70px;
        height: 4px;
    }
}

.trans{
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}


/*---------------------------------------nav---------------------------------------------*/
.navContainer{
    display: none;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(255,255,255,0.99);
    z-index: 100;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
}
.navContainer .logo{
    position: absolute;
}
.navContainer .navPanel{
    font-size: 14px;
    padding: 0;
    text-align: center;
}

.navContainer .navPanel li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.navContainer .navPanel li a{
    line-height: 40px;
    display: block;
    padding: 0 18px;
}

.navContainer .otherPanel{
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -20px;
}

.navContainer .advice{
    float: right;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: #2b2b2b;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
}
.navContainer .weixin{
    float: right;
    margin-right: 10px;
    width: 40px;
    font-size: 16px;
}
.navContainer .weibo{
    float: right;
    margin-right: 10px;
    width: 40px;
    font-size: 16px;
}

@media (min-width: 768px){
    .navContainer{
        display: block;
    }
}

/*---------------------------------------nav_m---------------------------------------------*/
.navContainer_m{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}

.navContainer_m .navPanel{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.navContainer_m .logo_m{
    width: 2rem;
    margin-top: 0.6rem;
    margin-left: auto;
    margin-right: auto;
}

.navContainer_m .row{
    margin-top: 0.6rem;
}

.navContainer_m .navItem{
    display: block;
    text-align: center;
    font-size: 0.4rem;
    color: #ffffff;
    height: 1rem;
    line-height: 1rem;
    text-decoration: none;
}

.navContainer_m .advice{
    position: absolute;
    bottom: 0.6rem;
    right: 0.5rem;
    width: 2.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #ffffff;
    font-size: 0.4rem;
    color: #2b2b2b;
    text-align: center;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
}
.navContainer_m .weixin{
    position: absolute;
    bottom:0.5rem;
    left: 0.5rem;
    width: 40px;
}
.navContainer_m .weibo{
    position: absolute;
    bottom:0.5rem;
    left: 1.5rem;
    width: 40px;
}

@media (min-width: 768px) {
    .navContainer_m{
        display: none;
    }
}

.menuFlag{
    position: fixed;
    top: 0.3rem;
    right: 0.3rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #000;
    z-index: 101;
}
@media (min-width: 768px) {
    .menuFlag{
        display: none;
    }
}

.emptyDom{
    width: 100%;
    height: 0;
}

@media (min-width: 768px) {
    .emptyDom{
        height: 70px;
    }
}

/*---------------------------------------banner---------------------------------------------*/
.banner{
    color: #ffffff;
    text-align: center;
    height: 6rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.banner .enTitle{
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 0.8rem;
    font-family: 'MyriadPro-BoldCond';
}

.banner .cnTitle{
    font-size: 0.3rem;
}

@media (min-width: 768px) {
    .banner{
        height: 480px;
    }
    .banner .enTitle{
        margin-top: 140px;
        font-size: 100px;
        line-height: 80px;
    }
    .banner .cnTitle{
        margin-top: 20px;
        font-size: 24px;
    }
}

/*---------------------------------------breadNavPanel---------------------------------------------*/
.breadNavPanel{
    margin-top: 0.5rem;
}
.breadNavPanel .nav{
    color: #bfbfbf;
}

.breadNavPanel .nav:before{
    content: "/";
    color: #bfbfbf;
    margin-left: 10px;
    margin-right: 10px;
}

.breadNavPanel .nav:first-child:before{
    display: none;
}

.breadNavPanel .activeNav{
    color: #b49a72;
}
@media (min-width: 768px) {
    .breadNavPanel{
        margin-top: 50px;
    }
}

/*---------------------------------------contact---------------------------------------------*/
.contact{
    background-color: #9d9d9d;
    background-image: url("../images/contact_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.contact .part_enTitle{
    color: #ffffff;
}
.contact .part_cnTitle{
    color: #ffffff;
}
.contact .titleLine{
    background-color: #ffffff;
}
.contact .contentContainer{
    margin-top: 0.5rem;
}
.contact .leftPanel{
    padding-left: 0;
    padding-right: 0;
}

.contact .leftContent{
    padding: 0.5rem;
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
}

.contact .leftContent .title{
    text-align: center;
    font-size: 0.5rem;
}

.contact .leftContent .intro{
    font-size: 0.3rem;
    margin-top: 0.3rem;
    line-height: 0.4rem;
    opacity: 0.5;
}

.contact .leftContent .inputPanel{
    margin-top: 0.6rem;
    font-size: 0.4rem;
    overflow: hidden;
}

.contact .leftContent .inputPanel label{
    float: left;
    font-weight:normal;
}

.contact .leftContent .inputPanel input{
    float: left;

    width: 200px;
    border: none;
    border-bottom: dashed 2px #d5d5d5;
}

.contact .leftContent .nextBtn{
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: #ffffff;
    background-color: #000;
}

/*.contact .rightPanel{
    height: 520px;
    background-color: #cccccc;
}*/

.contact .rightPanel{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
}

.contact .rightContent{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

.contact .rightPanel .title{
    margin-left: 0.7rem;
    margin-top: 0.5rem;
    font-size: 0.5rem;
}

.contact .rightPanel .subRow{
    clear: both;
    overflow: hidden;
    margin-left: 0.7rem;
    margin-top: 0.2rem;
}

.contact .rightPanel .icon{
    float: left;
    width: 0.4rem;
}

.contact .rightPanel .contentPanel{
    float: left;
    margin-left: 15px;
    border-bottom: solid 1px #d9dada;
    width: 4.5rem;
}

.contact .rightPanel .mail .contentPanel{
    border-bottom: none;
    margin-bottom: 20px;
}

.contact .rightPanel .k{

}
.contact .rightPanel .v{
    opacity: 0.5;
    margin-bottom: 0.2rem;
}
.contact .rightPanel .swiper-pagination{
    top: 0;
    left: 4.5rem;
    width: auto;
}
.contact .rightPanel .swiper-pagination-bullet{
    width: 0.3rem;
    height: 0.3rem;
    background: none;
    border: solid 2px #2b2b2b;
}
.contact .rightPanel .swiper-pagination-bullet-active{
    border: solid 3px #2b2b2b;
}


.contact .mapPanel{
    height: 500px;
}

@media (min-width: 768px) {
    .contact{
        height: 860px;
    }
    .contact .part_enTitle{
        margin-top: 50px;
    }
    .contact .contentContainer{
        margin-top: 40px;
    }
    .contact .leftPanel{
        padding-right: 15px;
    }
    .contact .leftContent {
        padding: 50px 100px 70px 100px;
    }
    .contact .leftContent .title{
        text-align: center;
        font-size: 36px;
    }

    .contact .leftContent .intro{
        font-size: 14px;
        line-height: 25px;
        opacity: 0.5;
    }
    .contact .leftContent .inputPanel label{
        font-size: 24px;
    }

    .contact .leftContent .inputPanel input{
        margin-left: 20px;
        font-size: 24px;
    }
    .contact .leftContent .nextBtn{
        margin-top: 65px;
        margin-left: 0;
    }

    .contact .rightPanel{
        margin-top: 0;
        padding-left: 15px;
        padding-right: 0;
        height: 520px;
    }
    .contact .rightPanel .title{
        margin-left: 70px;
        margin-top: 50px;
        font-size: 48px;
    }
    .contact .rightPanel .subRow{
        margin-left: 70px;
        margin-top: 20px;
    }
    .contact .rightPanel .contentPanel{
        width: 285px;
    }
    .contact .rightPanel .k{
        font-size: 18px;
    }
    .contact .rightPanel .v{
        margin-bottom: 20px;
    }
    .contact .rightPanel .swiper-pagination{
        left: 350px;
    }
    .contact .rightPanel .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        background: none;
        border: solid 2px #2b2b2b;
    }
    .contact .rightPanel .swiper-pagination-bullet-active{
        width: 22px;
        height: 22px;
        border: solid 3px #2b2b2b;
    }

}

/*---------------------------------------map---------------------------------------------*/
.map{
    height: 6rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../images/map_m.jpg");
}

.map .part_enTitle{
    margin-top: 1.8rem;
    color: #ffffff;
}

.map .moreBtn{
    color: #ffffff;
    margin-top: 0.2rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .map{
        height: 500px;
        background-image: url("../images/map.jpg");
    }
    .map .part_enTitle{
        margin-top: 170px;
    }
    .map .moreBtn{
        margin-top: 15px;
    }
}

/*---------------------------------------footer---------------------------------------------*/

.footer{
    height: 1.2rem;
    line-height: 0.4rem;
    /*line-height: 100px;*/
}
.footer .cn_info{
    margin-top: 0.3rem;
    padding: 0;
    font-size: 0.28rem;
    text-align: center;
}
.footer .en_info{
    padding: 0;
    font-size: 0.18rem;
    text-align: center;
}

@media (min-width: 768px) {
    .footer{
        height: 100px;
        line-height: 100px;
    }
    .footer .cn_info{
        margin-top: 0;
        font-size: 12px;
        text-align: right;
    }
    .footer .en_info{
        font-size: 12px;
        text-align: left;
    }
}




